{
  "hosting": {
    "public": "app/dist",
    "ignore": [
      "firebase.json",
      "**/.*",
      "**/node_modules/**"
    ],
    "rewrites": [
      {
        "source": "**",
        "destination": "/index.html"
      }
    ]
  },
  "firestore": {
    "rules": "firestore.rules",
    "indexes": "firestore.indexes.json"
  },
  "auth": {
    "providers": {
      "googleSignIn": {
        "oAuthBrandDisplayName": "Kippa",
        "supportEmail": "your-email@example.com"
      }
    }
  },
  "functions": {
    "source": "functions",
    "runtime": "nodejs22",
    "predeploy": "npm --prefix functions run build"
  }
}
